@using RaspberryWebApp.Models
@using Newtonsoft.Json
@model RaspberryWebApp.Models.Relay
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Relay</h4>
    <hr />
    @Html.ActionLink("Edit Relay", "Edit", new { id = Model.ID })


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
    </dl>


    <br />



    <table class="table">
        <tr>
            <th>
                start
            </th>
            <th>
                Duration
            </th>

            <th></th>
        </tr>

        @foreach (RelayEvent relayevent in Model.RelayEvents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => relayevent.start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => relayevent.duration)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "RelayEvents", new { id = relayevent.ID }, null) |
                    @Html.ActionLink("Details", "Details", "RelayEvents", new { id = relayevent.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "RelayEvents", new { id = relayevent.ID }, null)
                </td>
            </tr>
        }

    </table>




    <br />
    @Html.ActionLink("+ RelayEvent", "Create", "RelayEvents", new { id = Model.ID }, null)
    <br />
</div>
<p>
    @Html.ActionLink("Back to List of relays", "Details", "Devices", new { id = Model.DeviceID }, null)
</p>

<div class="calendar template">
    <div style="height:300px;width:300px;">
        pondelok
    </div>

</div>
<script type="text/javascript">



$(document).ready(function () {
 
    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
   
    var aaaa = $('#calendar template:first-child');

    });
</script>